[user]
	name = a5ob7r
	email = 12132068+a5ob7r@users.noreply.github.com
[color]
	ui = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[pager]
	log  = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[ghq]
	root = ~/src
[alias]
	co = checkout
	mg = merge
	f = fetch
	glog = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=format:'%c' --graph
	ph = push
	br = branch
