set blink-matching-paren On
set colored-completion-prefix On
set colored-stats On
set completion-ignore-case On
set mark-modified-lines On
set mark-symlinked-directories On
set visible-stats On

$include ~/.local.inputrc
